[submodule "pysd"]
	path = pysd
	url = git@github.com:KonishchevDmitry/pysd.git
[submodule "pycl"]
	path = pycl
	url = git@github.com:KonishchevDmitry/pycl.git
[submodule "mplayer/mplayer"]
	path = mplayer/mplayer
	url = git@github.com:KonishchevDmitry/mplayer.git
